.greenshoebody{
   height: 1200px;
   width: 100%;
   background-image: url(body6background.jpg);
   background-size: cover;
}
.greenshoe-heading{
    color: rgba(1, 150, 26, 0.693);
    height: 50px;
    background-color: transparent;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.greenshoe-discription-image{
    color: white;
   height: 500px;
   background-color: transparent;
   display: flex;
   justify-content: center;
}
.greenshoe-discription{
   width: 50%;
   background-color: transparent;
   margin-left: 15px;
}
h3{
    text-decoration: line-through;
}
.greenshoe-image{
    height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
    align-items: center;
   background-color: transparent;
   background-image: url(green1\ jordan.jpeg);
   background-size: 500px,500px;
   background-position: center;
    background-repeat: no-repeat;

}
.greenshoe-buy{
    height: 60px;
    background-color: transparent;
    display: flex;
}
.addtocart{
    display: flex;
    justify-content: center;
    color: white;
    height: 38px;
    width: 280px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 10px;
    margin-left: 15px;
}
.addtocart:hover{
    border: 2px solid white;
}
.buy{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    color: rgba(153, 120, 4, 0.977);
    height: 38px;
    width: 80px;
    font-size: 30px;
    background-color: rgb(255, 179, 0);
    border-radius: 10px;
}
.buy:hover{
    border: 2px solid yellow
}