body{
    color: white;
    background-image: url(body6background.jpg);
    background-size: cover;
}
.topspace{
    background-color: rgb(15, 8, 54);
    height: 15px;
    margin-top: 0%;
}
.navoptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(8, 8, 20);
    height: 25px;
}
.main{
    display: flex;
    justify-content: center;
    margin-left: 5px;
  width: 5%;  
  background-color: rgb(9, 8, 75);
}
.main:hover{
    border: 1.22px solid white
}
.about{
    display: flex;
    justify-content: center;
    margin-left: 5px;
width: 5%;
background-color: rgb(9, 8, 75);
}
.about:hover{
    border: 1.22px solid white
}
.contact{
    display: flex;
    justify-content: center;
    margin-left: 5px;
width: 5%;
background-color: rgb(9, 8, 75);
}
.contact:hover{
    border: 1.22px solid white
}
.help{
    display: flex;
    justify-content: center;
    margin-left: 5px;
width: 5%;
background-color: rgb(9, 8, 75 );
}
.help:hover{
    border: 1.22px solid white
}
.null{
width: 80%;
background-color: transparent;
}
/* shoes sale effect */
.shoeeffect{
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 250px;
}
.effectspace{
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-top: 45px;
    height: 60%;
    width: 70%;
    position: relative;   /* ⭐ MUST */
    align-items: center;
    overflow: hidden;
}
.leftshoe{
    width: 50%;
    height: 100%;
    background-image: url("left\ shoe.png");
    background-size: 250px,450px;  
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 25%;
    z-index: 1;
}
.rightshoe{
    width: 50%;
    height: 100%;
    background-image: url("right\ shoe.png");
    background-size: 250px,450px;  
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 25%;
    z-index: 1;
}
.effectspace:hover .leftshoe{
    transition: transform 1s ease;
    transform: translateX(330px);
}

.effectspace:hover .rightshoe{
    transition: transform 1s ease;
    transform: translateX(-330px);
}

.popup{
    background-color: transparent;
    background-image: url("jordan\ final\ logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.popup{
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: transparent;   /* 👈 test ke liye */
    color: red;
    font-size: 40px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0);
    opacity: 0;

    transition: transform 0.4s ease, opacity 0.3s ease;
    transition-delay: 0.2s;

    z-index: 10;  /* ⭐ SHOES ke upar */
}
.effectspace:hover .popup{
    transform: scale(1);
    opacity: 1;
}
.mainbody{
    background-color: transparent;
    width: 100%;
    height: 800px;
}

.upperbody{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 400px;
}
.lowerbody{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 400px;
}
.red{
    background-image: url(red\ jordan.webp);
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 255px;
    width: 255px;
    border-radius: 70px;
}
.red:hover{
    transition: transform 0.7s ease;
    transform: scale(1.2);
}
.blue{
    background-image: url(bluejordan.jpg);
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
     height: 255px;
    width: 255px;
    border-radius: 70px;
}
.blue:hover{
    transition: transform 0.7s ease;
    transform: scale(1.2);
}
.green{
    background-image: url(green1\ jordan.jpeg);
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
     height: 255px;
    width: 255px;
    border-radius: 70px;
}
.green:hover{
    transition: transform 0.7s ease;
    transform: scale(1.2);
}
.black{
    background-image: url(black\ jordan.jpg);
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 255px;
    width: 255px;
    border-radius: 70px;
}
.black:hover{
    transition: transform 0.7s ease;
    transform: scale(1.2);
}
.pink{
    background-image: url(pinkjordan.jpeg);
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
     height: 255px;
    width: 255px;
    border-radius: 70px;
    overflow: hidden;
}
.pink:hover{
    transition: transform 0.7s ease;
    transform: scale(1.2);
}
.grey{
    background-image: url(grey1jordan.jpeg);
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
     height: 255px;
    width: 255px;
    border-radius: 70px;
}
.grey:hover{
    transition: transform 0.7s ease;
    transform: scale(1.2);
}